[data-theme=light] {
  --primary: #000000;
  --secondary: #ff4900;
  --bg-primary: #c1c1c1;
  --bg-secondary: #000000;
  --text: #000;
}

[data-theme=dark] {
  --primary: #ff4900;
  --secondary: #c1c1c1;
  --bg-primary: #222222;
  --bg-secondary: #000000;
  --text: #c5c5c5;
}

:root {
  --clr-black: #0a0a0a;
  --clr-dark: #282828;
  --clr-gray-dark: #5e5e5e;
  --clr-gray: #c5c5c5;
  --clr-white: #ffffff;
  --clr-red: #cd4444;
  --clr-green:  #18a362;
  --clr-blue: #3d71d1c1;
}



.App{
  max-width: 1550px;
  width: 100%;
  min-height: 50vh;
  box-sizing: border-box 2 6 #740000;
}

main{
  padding-top: 6rem;
  margin: 0 5rem;
}

.inicio{
  padding-top: 6rem;
}



/*-----------CARDS------*/

.producto-imagen{
  border-radius: 0%;
}
.producto-imagen:hover{
  border-radius: 50%;
}








/*-----------FOOTER------*/
.footer{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 1rem;
  background-color: black;
}

.texto-footer {
  justify-content: center;
  color: var(--clr-white);
  font-size: .75rem;
}
/*-----------FOOTER------*/